In [9]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')
# print(df.head(3))

# df_xlsx = pd.read_excel('pokemon_data.xlsx')
# print(df_xlsx.head(3))

# df_txt = pd.read_csv('pokemon_data.txt',delimiter='\t')
# print(df_txt.head(3))

In [38]:
# Reading Data In Pandas
# -----------------------

# read headers
# df.columns

# -----------------------

# read columns
# print(df['Name'][0:40])
# print(df[['Name','Type 1','HP']])

# ----------------------

# row
# print(df.iloc[69:420])
# for index,row in df.iterrows():
#     print(index,row)
#     print(index,row['Name'])
# df.loc[df["Speed"]>=100]

# -----------------

# specific location
# print(df.iloc[69,1])#69th row 1st column

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
765,695,Heliolisk,Electric,Normal,62,55,52,109,94,109,6,False
771,701,Hawlucha,Fighting,Flying,78,92,75,74,63,118,6,False
772,702,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True

In [50]:
# Sorting / Describing
# df.describe()

# df.sort_values('Attack',ascending=False)
# df.sort_values(['Type 1','HP'],ascending=False)
df.sort_values(['Type 1','HP'],ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

In [61]:
# making changes to data

# df['Total']= df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

# df =df.drop(columns=['Total'])

df['Total']=df.iloc[:,4:10].sum(axis=1)

cols=list(df.columns)
df = df[cols[0:10]+[cols[-1]]+cols[10:12]]
df.sort_values(['Total'])

# df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
206,191,Sunkern,Grass,NaN,30,30,30,30,30,30,180,2,False
322,298,Azurill,Normal,Fairy,50,20,40,20,40,20,190,3,False
446,401,Kricketot,Bug,NaN,37,25,41,25,41,25,194,4,False
288,265,Wurmple,Bug,NaN,45,45,35,20,30,20,195,3,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,195,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,770,3,True
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,770,3,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,780,1,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,780,3,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,780,1,True

In [62]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,600,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,700,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,600,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,680,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

In [65]:
# saving new csv

# df.to_csv('modified.csv')
df.to_csv('modified.csv',index=False)
df.to_excel('modified.xlsx',index=False)
df.to_csv('modified.txt',index=False,sep='\t')

ModuleNotFoundError: No module named 'openpyxl'